html {
  background-color: #f0eee8;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Dosis, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  border-color: #9a816d;
  text-align: center;
  padding-bottom: 1rem;
}

.link-card {
  background-color: #dcd4cd;
  margin: 0 0 1rem;
  text-decoration: none;
  padding: .4em .75em .5em;
  border: solid 3px #9a816d;
  border-radius: 3px;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .link {
  background-color: #512200;
}

.link {
  border-radius: 8px;
  color: #fff;
  background-color: #785439;
  font-weight: bold;
  padding: .4em .75em .5em;
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

p, dl {
  font-family: Georgia, sans-serif;
}

h2, p, dl {
  color: #512200;
  text-align: left;
}

h2 {
  font-weight: bold;
}

dt, dd {
  display: inline-block;
  width: 45%;
  margin: 0;
  text-align: left;
  font-size: .875rem;
}

.link-card h2 {
  font-size: 1.5rem;
}

dd {
  font-style: italic;
}

p {
  font-size: 1rem;
  text-align: left;
}

.line {
  border-top: 3px solid #9a816d;
  border-bottom: 3px solid #9a816d;
}
