html {
  background:;
  box-sizing:;
  font-family: Georgia, sans-serif;
  line-height: ;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, p, ol {
  color: #785439;
}

{
  font-family: Dosis, sans-serif;
}
